$brown: #655643;
$green: #80bca3;
$yellow: #f7e3bd;
$orange: #e6ac27;
$red: #bf4d28;
$white: #ffffff;
$black: #000000aa;

$script: "Oleo Script Swash Caps", cursive, serif;
$sans: "Roboto", sans-serif;

body {
  background: $yellow;
  font-size: 24px;
}

.title {
  font-family: $script;
  color: $brown;
  margin: 0.67em;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  background: $yellow;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-section {
  margin: 3vh;
}

.cell {
  background: $white;
  display: inline-block;
  font-size: 4vh;
  font-weight: bolder;
  color: $red;
  width: 8vh;
  height: 8vh;
  margin: 0.85vh 1.5vh;
  border-radius: 20px;
  border: 0.6vh solid $red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell--selected {
  background: $red;
  color: $white;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #00000077;
  display: flex;
  align-content: center;
  justify-content: center;
}

.popup-content {
  background: white;
  border-radius: 20px;
  border: 0.6vh solid $green;
  margin: 10vw;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 20px #00000055;
}

.popup--open {
  animation: fade 150ms linear;
  animation-fill-mode: both;
}

.popup--close {
  animation: fade 150ms linear;
  animation-direction: reverse;
  animation-fill-mode: both;
}

.popup-close {
  text-decoration: none;
  margin: 2vw;
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
  font-size: 5vw;
  cursor: pointer;
}


.smorfia-title {
  display: flex;
  font-size: 5vw;
  align-items: center;
}

.smorfia-nr {
  color: $orange;
  margin: 0;
  margin-right: 2vw;
  font-family: $sans;
}

.smorfia-na {
  font-family: $script;
  font-weight: 400;
  color: $green;
  margin: 0;
  line-height: 1em;
  text-align: center;
}

.smorfia-it {
  font-family: $sans;
  color: $black;
  font-size: 2vw;
  text-align: center;
  margin: 0;
}

.settings {
  margin: 4vw;
  color: $black;
  background: $white;
  padding: 2vw;
  border-radius: 20px;
  border: 0.6vw solid $brown;
  align-self: center;
  text-align: center;
}

.settings-title {
  font-family: $script;
  color: $brown;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.6vw;
  font-size: 2em;
}

.settings-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.settings-action {
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
}

.settings-action--active {
  font-weight: bolder;
  text-decoration: none;
}

.copyright {
  color: $black;
  font-size: .8em;
  text-align: center;
  margin: 1em;
}

.broken-heart {
  width: .9em;
}

.github {
  color: $black;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
